.price {
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.priceHover {
    animation: priceHover 0.3s ease-in forwards;
}

@keyframes priceHover {
    from {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
        display: block;
    }

    to {
        left: 55%;
        transform: translateX(55%);
        opacity: 0;
        display: none;
    }
}

.priceNormalState {
    animation: priceNormalState 0.3s ease-in forwards;

}

@keyframes priceNormalState {
    from {
        left: 55%;
        transform: translateX(55%);
        opacity: 0;
        display: none;
    }

    to {
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
        display: block;
    }
}


/* Add to Car */
.addToCart {
    display: none;
    left: 10%;
    transform: translateX(-10%);
    opacity: 0;
}

.addToCartHover {
    animation: addToCartHover 0.3s ease-in forwards;

}

@keyframes addToCartHover {
    from {
        display: none;
        left: 10%;
        transform: translateX(-10%);
        opacity: 0;
    }

    to {
        display: block;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }
}

.addToCartNormalState {
    animation: addToCartNormalState 0.3s ease-in forwards;
}

@keyframes addToCartNormalState {
    from {
        display: block;
        left: 50%;
        transform: translateX(-50%);
        opacity: 1;
    }

    to {
        display: none;
        left: 10%;
        transform: translateX(-10%);
        opacity: 0;
    }
}

/* Quick Look & Favorite */

.QuickLookFavorite {
    bottom: -30px;
}

.QuickLookFavoriteHoverState {
    animation: QuickLookFavoriteHoverState 0.3s ease-in forwards;
}

@keyframes QuickLookFavoriteHoverState {
    from {
        bottom: -30px;
    }

    to {
        bottom: 0px;
    }
}

.QuickLookFavoriteNormalState {
    animation: QuickLookFavoriteNormalState 0.3s ease-in forwards;
}

@keyframes QuickLookFavoriteNormalState {
    from {
        bottom: 0px;
    }

    to {
        bottom: -30px;
    }
}