.price {
    left: -45%;
    opacity: 1;
}

.priceHover {
    animation: priceHover 0.2s ease-in forwards;
}

@keyframes priceHover {
    from {
        left: -45%;
        opacity: 1;
    }

    to {
        left: -35%;
        opacity: 0;
    }
}

.priceHoverNormalState {
    animation: priceHoverNormalState 0.2s ease-in forwards;

}

@keyframes priceHoverNormalState {
    from {
        left: -35%;
        opacity: 0;
    }

    to {
        left: -45%;
        opacity: 1;
    }
}


.addToCart {
    left: 0%;
    opacity: 0;
}




.addToCartHover {
    animation: addToCartHover 0.3s ease-in forwards;
}

@keyframes addToCartHover {
    from {
        opacity: 0;
        left: 0%;
    }

    to {
        opacity: 1;
        left: 34%;
    }
}

@media only screen and (max-width: 1279px) {
    @keyframes addToCartHover {
        from {
            opacity: 0;
            left: 0%;
        }

        to {
            opacity: 1;
            left: 38%;
        }
    }

}

@media only screen and (max-width: 1023px) {
    @keyframes addToCartHover {
        from {
            opacity: 0;
            left: 0%;
        }

        to {
            opacity: 1;
            left: 41.5%;
        }
    }

}

@media only screen and (max-width: 771px) {
    @keyframes addToCartHover {
        from {
            opacity: 0;
            left: 0%;
        }

        to {
            opacity: 1;
            left: 38.5%;
        }
    }

}


.addToCartNormalState {
    animation: addToCartNormalState 0.3s ease-in forwards;
}


@keyframes addToCartNormalState {
    from {
        opacity: 1;
        left: 34%;
    }

    to {
        opacity: 0;
        left: 0%;
    }
}